.git
runtime
artifacts
pipeline/models/*
pipeline/runs
pipeline/datasets
pipeline/repro_outputs
pipeline/data/db_hack.csv
**/__pycache__
*.log
*.sqlite*
*.mp4
*.pth
*.pt
*.ckpt
*.onnx
*.zip
*.pdf
*.pptx
